@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Sorry...</h3>
<p>
    You probably tried to put in an <strong>empty form</strong> go back and try again.
</p>
<a href="/">Back Home</a>
