@{
    ViewData["Title"] = "Client Details";
}


   <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-center">
        <h5 class="card-title">@Model.GetClientName()</h5>
        <p class="card-text">
            <h5>@Model.GetPhoneNumber()</h5>
            <ul>
                <li><a href="/client/@Model.GetId()/delete">Remove From Salon</a></li>
                <li><a href="/stylist/@Model.GetStylistId()/about">See Stylist</a></li>
                <li><a href="/client/@Model.GetId()/update-form">Change Info</a></li>
            </ul>
        </p>
    </div>
</div>