@{
    ViewData["Title"] = "Clients";
}

<h1 class="text-danger">No Clients</h1>
<h2 class="text-danger">There's no one with hair to cut!!</h2>


<a href="client/delete/all">Clear Client List</a>
<a href="client/new">Add Client</a>