@{
    ViewData["Title"] = "Client";
}
<h1> Success! New client added</h1>
<ul>
    <li><a href="/client/list">See All</a></li>
    <li><a href="/client/new">Add another Client</a></li>
</ul>
