@{
    ViewData["Title"] = "Client Update";
}

<form action = "/client/@Model.GetId()/update" method="post">

    @*<select name = "select-stylist" >
        @foreach(var stylist in Model)
        {
            <option value = "@stylist.GetId()"> @stylist.GetName() </ option >
        }
    </select>*@
    <div class='form-group'>
        <label for='client'>New Client Name</label>
        <input id = 'client' name='client' class='form-control' type='text'>
    </div>
    <div class='form-group'>
        <label for='phone'>Phone Number</label>
        <input id = 'phone' name= 'phone' class='form-control' type="text" placeholder="555-555-5555">
    </div>
    <button class="btn btn-primary" type="submit"> Update Client</button>
</form>