@{
    ViewData["Title"] = "Stylists";
}
<h1> Success! New Specialty added</h1>
<ul>
    <li><a href="/specialty/index">See All</a></li>
    <li><a href="/specialty/create">Add another Stylist</a></li>
</ul>