@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Super Salon Manager</h1>
        <p class="lead">The best gosh-darn stylist-client manager ever</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Stylists</h2>
        <ul>
            <li><a href="/stylist/list">List of Stylists</a></li>
            <li><a href="/stylist/new">Add a Stylists</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Clients</h2>
        <ul>
            <li><a href="/clients">See All Clients</a></li>

        </ul>
    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>

        </ul>
    </div>
</div>
