@{
    ViewData["Title"] = "Stylists";
}


<form action="/stylist/new/add" method="post">

    <div class='form-group'>
        <label for='stylist'>New Stylist Name</label>
        <input id='stylist' name='stylist' class='form-control' type='text'>
    </div>
    <button class="btn btn-primary" type="submit"> Add Stylist </button>
</form>