@{
    ViewData["Title"] = "Stylists";
}

<div class="card-deck">

    @foreach (var client in Model)
    {
    <div class="card bg-light">
        <div class="card-body text-center">
            <h5 class="card-title">@client.GetClientName()</h5>

            <form action="/stylist/@client.GetId()/delete" method="post">
                <p class="card-text"><a href="/client/@client.GetId()/details">Get @client.GetClientName()'s details</a></p>
                <button type="submit" class="btn btn-primary">Remove Client</button>
                <a href="/stylist/@client.GetId()/delete" class="btn btn-primary">Remove Client</a>
               </form>
       </div>
    </div>
    }

</div>
