@{
    ViewData["Title"] = "Stylists";
}

<ul>
    
    @foreach (var stylist in Model)
        
    {
    <li><a href="/stylist/@stylist.GetId()/about">@stylist.GetName()</a></li>

    }

</ul>
