@{
    ViewData["Title"] = "Stylists";
}
<h1> Success! New Stylist added </h1>
<ul>
    <li><a href="/stylist/list">See All</a></li>
    <li><a href="/stylist/new">Add another Stylist</a></li>
</ul>